@{
    ViewData["Title"] = "Panel doktora";
}

<div class="row">
    <div class="col-sm-8">
        <h3>Witamy panie doktorze, życzymy miłego dnia.</h3>
        <h6>Dzisiaj jest <b>poniedziałek</b>, 16 lipca 2019</h6>
        <hr />
        <h4>Lista wizyt na dzisiaj:</h4>
        <ul class="list-group">
            <li class="list-group-item disabled">
                <button type="button" class="btn btn btn-outline-secondary">8:00</button>&nbsp;
                Joanna Kopczyńska
                <button type="button" class="btn btn-light float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">8:15</button>&nbsp;
                Kazimierz Nowosielski
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">8:35</button>&nbsp;
                Marcin Szwoch
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">9:00</button>&nbsp;
                Piotr Tomasik
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">9:15</button>&nbsp;
                Katarzyna Szatka
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">8:15</button>&nbsp;
                Kazimierz Nowosielski
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">8:35</button>&nbsp;
                Marcin Szwoch
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">9:00</button>&nbsp;
                Piotr Tomasik
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">9:15</button>&nbsp;
                Katarzyna Szatka
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">8:15</button>&nbsp;
                Kazimierz Nowosielski
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">8:35</button>&nbsp;
                Marcin Szwoch
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">9:00</button>&nbsp;
                Piotr Tomasik
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary">9:15</button>&nbsp;
                Katarzyna Szatka
                <button type="button" class="btn btn-primary float-right">Otwórz</button>
            </li>
        </ul>

    </div>
    <div class="col-sm-4">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Twoje ustawienia</h5>  
                </div>
                <p class="mb-1">Lista dostępnych opcji</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Dodaj dzień wolny</h5>
                </div>
                <p class="mb-1">Dodaj dzień kiedy jesteś niedostępny/a dla pacjentów.</p>
                
            </a>
        </div>  
    </div>
</div>
